button:focus {
    outline: none !important;
    border: 0px !important
}

/*********TOPBTN**********/

#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #14a3aa;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1;
}

/*********TOPBTN*****END*****/

.fa-map-marker-alt {
    color: rgb(245, 241, 241) !important;
    position: relative !important;
    top: -1px !important;
    left: 10px !important;
}

.fa-phone-alt {
    color: rgb(245, 241, 241) !important;
    position: relative !important;
    top: -1px !important;
    left: 8px !important;
}

.fa-envelope {
    color: rgb(245, 241, 241) !important;
    position: relative !important;
    top: -1px !important;
    left: 8px !important;
}

/*************HEADER**************/

.header {
    background-image: url(../img/background-medical4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
}

.med-title_cont {
    font-size: 32px;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
}

.signin-title {
    color: #1AB2FD;
}

.signin-title:hover {
    color: #1AB2FD;
}

.breadcrumb {
    background-color: white !important;
    font-weight: 600 !important;
    position: relative;
    top: 50px;
    left: -2px;
    width: 350px;
    display: inline-block;
}

.breadcrumb-item {
    position: relative;
    left: 5px;
}

.med-div {
    position: relative;
    top: 12px;
}

/*************HEADER******END*******/

/**********SECTİON 20 ************/

.section20 {
    padding-bottom: 150px;
}

.appointment-title {
    font-size: 15px !important;
    color: #000000;
    margin-bottom: 8px;
    font-weight: normal !important;
    position: relative;
    left: 16px;
}

em {
    font-style: normal;
    color: #b2b2b2;
}

.labels {
    display: block !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    margin: 0 55px 0 14px !important;
    height: 48px !important;
    font: bold 14px/10px "Open Sans", Arial, sans-serif !important;
    color: #808080 !important;
    text-align: left !important;
    padding: 0;
}

.appointment-div {
    position: relative !important;
    top: 50px !important;
}

.form-control {
    border-radius: 0px !important;
}

.btn_send {
    background-color: #1AB2FD !important;
    color: white !important;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s !important;

}


.btn_send:hover
{
    background-color:#16a9b1!important;
    transition: 0.5s !important;


 
}





/**********SECTİON 20***END*****/

/******FOOTER*****/

.maps-icon-footer {
    color: #a9a9ac !important;
    position: relative !important;
    left: 10px !important;
    top: 3px !important;
}

.phone-icon-footer {
    color: #a9a9ac !important;
    position: relative !important;
    left: 9px!important;
    top: 3px!important;
}

.email-icon-footer {
    color: #a9a9ac !important;
    position: relative !important;
    left: 8px !important;
    top: 3px !important;
}


@media (max-width: 768px) {

    .header {

        padding-bottom: 50px !important;
    }

    .med-div {
        position: relative !important;
        top: -15px !important;
    }



    #topBtn {

        width: 40px;
        height: 40px;
    
      }
    
    



    .med-title_cont {
        font-size: 20px !important;
        color: #111111;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
        position: relative;
        top: 60px;
        font-family: 'Montserrat', sans-serif;
    }



    .breadcrumb {
        background-color: white !important;
        font-weight: 600 !important;
        position: relative;
        top: 50px;
        width: 220px !important;
        display: inline-block;
        left: 0px !important;
    }

    .breadcrumb-item {
        position: relative;
        left: 0px !important;
        font-size: 12px !important;
    }


    .section16 {
        padding-bottom: 150px !important;
    }





  


}
